h3 {
    text-align: center;
    color: rgb(47, 67, 243);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

.date-input {
    display: flex;
}

.date-input>label {
    width: 65%;
    background-color: white;
    color: gray;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin-top: 15px;
}

.date-input>input {
    width: 35%;
}