h3 {
    text-align: center;
    color: rgb(47, 67, 243);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

.date-input {
    display: flex;
}

.date-input>label {
    width: 85%;
    color: blue;
    border: 1px solid black;
    padding: 10px;
    margin-top: 15px;
}

.date-input>input {
    width: 15%;
}